@{
    ViewData["Title"] = "Resultados de Recomendación";
}

<div class="container mt-5">
    <h1 class="text-center">Productos Recomendados</h1>
    <ul class="list-group mt-4">
        @foreach (var recommendation in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>@recommendation.ProductName</strong> (ID: @recommendation.ProductId)
                </div>
                <span class="badge rounded-pill" style="background-color: #71BC85; color: white;">
                    Score: @recommendation.Score
                </span>
            </li>
        }
    </ul>
    <div class="text-center mt-4">
        <a href="/Recommendation/Recommend" class="btn" style="background-color: #096623; border-color: #096623; color: white;">
            Volver
        </a>
    </div>
</div>